@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, -apple-system,
               "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --color-bg: #e6e7eb;
  --color-fg: #0b0c10;
  --color-herofg: #F2EEE9;
}

@layer base {
  html, body, #root { 
    height: 100%;
    padding: 0;
    margin: 0; 
  }
}
